$body-backgroundColor: #f5eeff;
$secande-body-background-color: #dac3f8;
$first-color-card: #352163;
$sacend-color-card: #33143c;
$font-color: #eee;
$background-color: rgba(255, 255, 255, 0.5);
$border-color: rgba(255, 255, 255, 0.25);
